* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  color: white;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-image: linear-gradient(
    279deg,
    rgb(126, 50, 50, 0.7),
    rgb(26, 154, 189)
  );
}
.container-Mod {
  width: 90%;
  margin: auto;
}

.navbar-modified {
  min-width: -webkit-fill-available;
}
.navbar-modified li {
  padding: 0 20px;
  border-right: 1px solid gray;
}
.navbar-brand img {
  height: 100px;
}
.carousel .carousel-control-prev {
  /* background-color: unset; */
  width: 7%;
  /* border: unset; */
}
.carousel .carousel-control-next {
  /* background-color: unset; */
  width: 7%;
  /* border: unset; */
}
.carousel-control-prev:hover {
  /* background-color: unset; */
}

.rating i {
  color: yellow;
}

.card {
  position: relative;
  background-color: unset;
}

.icon {
  position: absolute;
  text-align: center;
  left: 10px;
  top: 15px;
  width: 80px;
  height: 40px;
  border-radius: 60px;
  background-color: rgb(223, 154, 18);
}
/* ---------------BOOKING AREA -------------------- */
.cinema-brand img {
  width: 180px;
}
.timeClock {
  min-height: 90px;
}
.item-to-book:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.logo-2d {
  width: 150px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.itemFilm {
  min-width: 700px;
}
.itemFilm img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.itemFilm p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* -----------------Info---------- */
.userinfo img {
}

.Info-hello {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("../assets/BG-image/555837.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.Info-hello-overlay{
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.monitorx {
  position: relative;
  margin: auto;
  width: 90%;
  height: 20px;
  background-color: rgb(80, 59, 22);
}
.monitorx::after {
  position: absolute;
  display: block;
  content: "Monitor";
  width: 100%;
  height: 75px;
  border-left: 37px solid transparent;
  border-right: 37px solid transparent;
  border-bottom: 56px solid;
  border-bottom-color: rgba(142, 140, 136, 0.7);
  /* box-shadow: 0px 10px 10px rgba(0, 05); */
}

.trapezoid {
  border-bottom: 200px solid #18c973;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height: 0;
  width: 250px;
}
.chair {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 5px;
}
.chair:hover {
  background-color: rgb(9, 104, 31);
  cursor: pointer;
}
/*---------------- Film shown Zone-------------- */
.overlay-all-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.4);
}
.all-item {
  position: relative;
  background-image: url("../assets/BG-image/papers.co-nh99-space-night-sky-star-dark-3840x2400.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.list-audience {
  width: 90%;
  margin: 80px auto;
}
.listChair {
  /* column-count: 16; */
  width: 90%;
  margin: auto;
}
.normal-seat {
  background-color: bisque;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.normal-seat-big {
  background-color: rgb(5, 79, 81);
}
.vip-seat {
  background-color: rgb(160, 134, 95);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.vip-seat-big {
  background-color: rgb(160, 134, 95);
}
.selecting-seat {
  background-color: rgb(112, 160, 95);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.selecting-seat-big {
  background-color: rgb(112, 160, 95);
}
.selected-seat {
  background-color: rgb(5, 79, 81);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.selected-seat-big {
  background-color: rgb(225, 74, 9);
}
.selected-seat-big:hover {
  background-color: rgba(33, 14, 6, 0.471);
  cursor: no-drop;
}
.chosen-by-us {
  box-shadow: 5px 5px 10px rgb(79, 180, 173);
  background-color: rgb(5, 79, 81);
}
.selecting-seat_by_other {
  background-color: rgb(52, 9, 225);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.selecting-seat_by_other_big:hover {
  background-color: rgba(33, 14, 6, 0.471);
  cursor: no-drop;
}
.selecting-seat_by_other_big {
  background-color: rgb(52, 9, 225);
}
.other-selected-seat {
  background-color: rgb(225, 74, 9);
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.other-selected-seat-big {
  background-color: rgb(225, 74, 9);
}
.other-selected-seat-big:hover {
  cursor: no-drop;
}
/* .vip-seat-big:hover{
cursor: no-drop;
} */
.bill-zone {
  width: 80%;
  margin: auto;
  box-shadow: 5px 5px 10px rgb(112, 160, 95);
}
.bookingUI {
  background-image: url(../assets/BG-image/Marvel-Thor-Wallpapers.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
}
.overlay {
  background-color: rgb(0, 0, 0, 0.7);
}
.navbar {
  background-color: unset;
}

.text-booking :hover {
  cursor: pointer;
  color: #0b94c5;
  transform: translateY(1px);
}
/* ----------------ADMIN PAGE-------------- */
.sidebar-admin {
  position: fixed;
  left: 0;
  width: 250px;
  bottom: 0;
  background-color: rgb(8, 46, 79);
  top: 0;
}

.sidebar-admin li {
  padding: 20px 20px;
}
.sidebar-admin li:hover {
  background-color: cadetblue;
  cursor: pointer;
}
.dropdown button {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}
.isShown {
  display: block !important;
}
.mainzone-admin {
  position: absolute;
  left: 250px;
  right: 0;
}
.itemFilmx:hover {
  cursor: pointer;
  transform: scale(1.02);
  z-index: 1;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -ms-overflow-style: none;
  /* Hides the scrollbar. */

  -ms-scroll-chaining: none;
  /* Prevents Metro from swiping to the next tab or app. */

  -ms-scroll-snap-type: mandatory;
  /* Forces a snap scroll behavior on your images. */

  -ms-scroll-snap-points-x: snapInterval(0%, 100%);
  /* Defines the y and x intervals to snap to when scrolling. */
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

/* ------Customize ant when conflict with flick */

/* .slick-list{
  margin: 0 -20px;
}
.slick-slide {
	margin: 0 20px;
} */
.ant-carousel .slick-dots {
  margin-right: unset;
  margin-left: unset;
}
.ant-carousel .slick-dots li button {
  height: 5px;
}

.slick-prev {
  left: -72px;
}
.slick-prev:before {
  font-size: 40px;
}
.slick-next:before {
  font-size: 40px;
}

.slick-arrow.slick-prev {
  background-color: transparent !important;
}
.slick-next {
  right: -54px;
}

.slick-arrow.slick-next {
  background-color: transparent !important;
}

.ant-tabs-nav-list {
  color: rgb(217, 218, 233, 0.85);
}
.ant-tabs-nav:nth-child(2) {
  width: 770px;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  opacity: 0.5;
  background: #eaecf6;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-wrapper {
  padding: 20px 0 60px 0;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 17px;
}

/* -----------------Flip cart------------ */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 486px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-card:hover {
  cursor: pointer;
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  /* background-color: #bbb; */
  background-color: transparent;
  color: black;
}

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  color: rgb(43, 25, 25);
  transform: rotateY(180deg);
  background-color: rgba(0, 0, 0, 0.7);
  /* background-image: url(''); */
}
.flip-card-back:hover {
  cursor: pointer;
}
.modal-flip {
  background-color: rgb(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
}
.button-play {
  color: rgb(250, 10, 10);
}
.button-play:hover {
  cursor: pointer;
  transform: scale(1.07);
}
.tab-display {
  background-color: rgb(14, 86, 186);
}
.tab-d-none {
  background-color: unset;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #eb1313 !important;
  font-weight: 500;
  font-size: larger;
}
.ant-tabs-tab {
  font-size: large;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0b94c5 !important;
  font-weight: 500;
  font-size: larger;
}

/* ------------film-detail when clicked-------- */
.film-detail {
  /* background: url('../assets/BG-image/backgorund.jpg') 100% no-repeat center; */
  background-image: url(../assets/BG-image/932568.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 75px;
}
.uiBooking {
}
.uiBooking-brand {
  padding: 30px 20px;
  background-image: linear-gradient(173deg, #0c8293, #5d023c);
}

.font-color {
  color: #01181f;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
body {
  position: relative;
  height: 100%;
}

.ant-tabs-content-left {
  max-height: 772px;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#components-form-demo-control-ref .ant-btn {
  margin-right: 8px;
}

/* width */
.ant-tabs-content-left::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.ant-tabs-content-left::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.ant-tabs-content-left::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
  z-index: 100;
}

/* Handle on hover */
.ant-tabs-content-left::-webkit-scrollbar-thumb:hover {
  background: #b30000;
  z-index: 100;
}

.header-admin {
  /* position: fixed;
  top: 0;
   */
  padding: 20px;
  background-color: rgba(12, 42, 99, 0.526);
  width: 100%;
}
.container-Mod-1 {
  background-image: url("../assets/BG-image/689398.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.container-Mod-1-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
}

/* ----------------Footer------------- */
/* .footer{
  background-image: url('../assets/BG-image/729758.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  position: relative;
}
.footer-overlay{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.7);
  } */
.footer {
  background-image: linear-gradient(20deg, rgb(126, 50, 50), rgb(110 141 150));
  padding: 30px 0;
}

.footer li:hover {
  color: #0b94c5;
  cursor: pointer;
}
.nav-item a {
  font-size: 18px;
}
